:root {
    --bg-color: #D5E1EF;
    --ff-reg: "Outfit", sans-serif;
    --text-secondary: #68778D;
}

html, body {
    background-color: var(--bg-color);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card {
    background-color: #ffffff;
    width: 288px;
    height: 468px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 10px 50px -20px #68778D;
}

.card__heading {
    font-family: var(--ff-reg);
    font-weight: 700;
    text-align: center;
    font-size: 22px;
}

.card__text_contianer{
    padding: 0 16px;
    margin: 20px 0;
}

.card__text {
    text-align: center;
    font-family: var(--ff-reg);
    font-weight: 400;
    color: var(--text-secondary);
    font-size: 15px;
}

.card__img {
    width: 288px;
    border-radius: 10px;
}

